  <style>
   img {
    margin: 200px 0px 0px 0px ;
   }
   body {
    Font-family: mark;
    background: white;
   }
   header {
    text-align: center;
    background-size: cover;
    background: #98ffcc;
    margin: 0 auto;
   }
   h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Questrial', sans-serif;
   }
   h1 {
    color: #fff;
    font-size: 100px;
    margin: 0px;
   }
   div {
    text-align: center;
   }
   p {
    font-family: helvetica;
    margin: 20px 50px 20px 50px;
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
   }

   ul {
    padding: 10px;
    background: rgba(255,182,193,1);
   }
   li {
    display: inline;
    padding: 0px 10px 0px 10px;
    color: #ffff00;
    font-family: 'Questrial', sans-serif;
   }
  </style>