   img {
    margin: 200px 0px 0px 0px ;
   }
   body {
    Font-family: mark;
    background: white;
    text-align: center;
   }
   header {
    text-align: center;
    background-size: cover;
    background: #FF6347;
    margin: 0 auto;
   }
   h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
   }
   h1 {
    color: #fff;
    font-size: 100px;
    margin: 0px;
   }
   article {
    margin: 0 auto;
    max-width: 800px;
   }
   h3 {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    
   }
   div {
    text-align: center;
   }
   ul {
    padding: 10px;
    background: #FFB6C1;
    font-family: 'Didact Gothic', sans-serif;
   }
   li {
    display: inline;
    padding: 0px 10px 0px 10px;
    color: #ffff00;
    font-family: 'Roboto', sans-serif;
   }
   ul2 {
    color: #00BFFF;
   }
   p {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    max-width: 750px;
   }
   img {
    text-align: center;
   }
   h5 {
    color: white;
   }
   h4 {
    color: #00BFFF;
    font-family: 'Roboto', sans-serif;
   }